<div id="team">
    <div id="aboutpara">
    <h2>Meet the Team</h2>
        <p>Trippin' is an app created to make your road trip easier! We aim to provide your trip with good eats and convience. Just enter you start and end point, click on desitred stops along the way and then choose which restaurants sound the best to you! Feel free to make multiple "trips".  You can find all your saved trips just by clicking your name at the top of the page.</p>
        <p>Technologies used include: CSS/HTML, JavaScript, Ruby on Rails, Google Places, Google Maps, Facebook OAuth, Materalize and gritter.</p>
    </div> 
    <div class="container">
          <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <a href="http://www.aralawrence.com">
                        <img class="activator" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAWUAAAAJGRiMWQ4Zjk2LTUzYTItNDhhNC04NTY0LWM0N2M4MTExMWJlOA.jpg" height="200" width="200">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">Ara<br/>
                            <small><em><a class="red-text text-darken-1" href="http://www.aralawrence.com">Git Master</a></em></small></span>
                            <p id="bioparagraph">
                            After gaining her master’s degree in religion, Ara went on to pursue a lifelong interest in web development. She enjoys utilizing new technologies for  exciting creations in web and mobile development, and really loves to dive into a problem. When Ara isn’t coding, she spends her time  reading, writing, and playing mandolin.
                            </p>
                        <p>
                        <a href="https://www.facebook.com/ara.e.lawrence">
                        <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35"/>
                        </a>
                        <a href="https://www.linkedin.com/in/aralawrence">
                        <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35"/>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://media.licdn.com/media/AAEAAQAAAAAAAAZiAAAAJDExYmFjOGUyLTJmNWUtNGM3Yy04NGUwLWNjYjIyMTYwODBhYQ.jpg" height="200" width="200">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">Keaton<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Project Manager</a></em></small></span>
                        <p id="bioparagraph">
                        Some say the sparkle in his eye was enough to bring about World Peace, until a savage panther encounter, fuelled by jealousy, led him to acquiring bionic eyes. This was not enough to quell a mans ambitions however. After turning the panthers essence into a potent cologne, Keaton sought to conquer the tech world. He led his brave warrior programmers into producing a top quality app the world has never seen (i.e Project Manager), laid out the scope, helped program the back and front end (i.e Full Stack), and drank lots of cold brew coffee. Now relax, and drink in the new app of the century.
                        </p>
                        <p>
                        <a href="https://www.facebook.com/keaton.laney">
                            <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35"/>
                        </a>
                        <a href="https://www.linkedin.com/in/keaton-laney-a9a187103">
                            <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35"/>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAcLAAAAJDkyOGYxNjRiLTg2N2MtNDhkMC04MTQ1LTNmMzAzOTkyMjRiOQ.jpg" height="200" width="200">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">Taylor<br/>
                            <small><em><a class="red-text text-darken-1">Developer</a></em></small></span>
                            <p id="bioparagraph">
                            A Seattle-native and internet enthusiast, Taylor enjoys working on user-friendly web applications focusing on simplifying your every day life. He does not enjoy writing bios about himself in the third-person.
                            </p>
                        <p>
                        <a href="https://www.facebook.com/taylor.bolin.3?fref=ts">
                            <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
                        </a>
                        <a href="https://www.linkedin.com/in/taylorbolin">
                            <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35"/>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <a href="http://www.palomahennessy.com">
                            <img class="activator" src="https://scontent.fsnc1-1.fna.fbcdn.net/hprofile-xtl1/v/t1.0-1/p320x320/12079431_993487834041199_5630205000330343225_n.jpg?oh=b76cab3c0df8aaffc21186b02fee93e8&oe=56F922F9" height="200" width="200">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">Paloma<br/>
                            <small><em><a class="red-text text-darken-1" href="http://www.palomahennessy.com">Developer</a></em></small></span>
                            <p id="bioparagraph">After graduating with a degree in Psychology, Paloma moved to Seattle to pursue a career in web development. When she isn't working on a new project, you can probably find her googling pictures of corgis.</p>
                            <p>
                        <a href="https://www.facebook.com/public/Paloma-Hennessy">
                            <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35"/>
                        </a>
                        <a href="https://www.linkedin.com/in/palomahennessy">
                            <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35"/>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
