<!-- <h1>Trip#new</h1>
<p>Find me in app/views/trip/new.html.erb</p> -->
<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <div id="map"></div>
      <div id="panel"></div>
    </span>
  </div>
	<div class="col-trip-edit col s6">
		<h1>Plan your Trip</h1>
     	<div class="row">
        <h2><%= @trip.trip_name %></h2>
      </div>
  		 <form action="#">
        <p>
          <input type="checkbox" id="test1" />
          <label for="test1">Option One</label>
        </p>
        <p>
          <input type="checkbox" id="test2" />
          <label for="test2">Option Two</label>
        </p>
        <p>
          <input type="checkbox" id="test3" />
          <label for="test3">Option Three</label>
        </p>
        <p>
          <input type="checkbox" id="test4" />
          <label for="test4">Option Four</label>
        </p>
        <p>
          <input type="checkbox" id="test5" />
          <label for="test5">Option Five</label>
        </p>
        <p>
          <input type="checkbox" id="test6" />
          <label for="test6">Option Six</label>
        </p>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
      </form>
  </div>
</div>

<div class="hide">
  <div id="start"><%= @trip.start_point %></div>
  <div id="end"><%= @trip.end_point %></div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @gmap %>&callback=initMap">
</script>
