<!-- <h1>Trip#new</h1>
<p>Find me in app/views/trip/new.html.erb</p> -->
<div class="row">
	<div class="col s7 push-s5">
		<span class="flow-text">
			<h5>Trip Edit Page</h5>
		</span>
	</div>
	<div class="col s5 pull-s7">
		<span class="flow-text">
			<h5>Map div here</h5>
		</span>
	</div>
</div>
