<!-- <h1>Trip#show</h1>
<p>Find me in app/views/trip/show.html.erb</p> -->
<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <h5>Map div here</h5>
    </span>
  </div>
	<div class="col-trip-edit col s6">
		<h5>Trip Show Page</h5>
		<div class="row">
    	<h5>Trip Name shows here</h5>
  	</div>
  		 <form action="#">
          <h6>Restaurant choice one</h6>
          <ul>
          	<li>Address</li>
          	<li>Phone number</li>
          	<li>Link to Yelp</li>
          </ul>
          <h6>Restaurant choice two</h6>
          <ul>
          	<li>Address</li>
          	<li>Phone number</li>
          	<li>Link to Yelp</li>
          </ul>
          <h6>Restaurant choice three</h6>
          <ul>
          	<li>Address</li>
          	<li>Phone number</li>
          	<li>Link to Yelp</li>
          </ul>
        <a href="/trip/new" class="btn waves-effect waves-light" type="submit" name="action">Edit Trip
        </a>
        <div class="fb-share-button" data-href="https://www.reddit.com/" data-layout="button"></div>
      </form>
  </div>
</div>
