<h1>Your Trips</h1>

<% @trip.each do |trip| %>
<div class="trips">
<%= trip.trip_name%>
<div><a class="waves-effect waves-light btn black-text"><%= button_to "Edit this Trip", edit_trip_path(trip.id)%></a></div>
<div><a class="waves-effect waves-light btn red black-text"><%= button_to 'Delete Trip', trip, method: :delete, :onclick => "Return confirm('Are you sure you want to delete this trip?')" %></a></div>
</div>
<% end %>