<!-- list all saved trips w/ delete capability -->
<h1 id="editheader">Your Trips</h1>
<div class="trips">
	<% @trip.each do |trip| %>
	<h2 id="tripnames"><%= trip.trip_name%></h2>
    <%= link_to "Edit this Trip", trip_change_path(trip.id), class: "btn teal", id: "editbtn"%>
	  <%= link_to 'delete this trip', trip_delete_path(trip.id), class: "btn red", id: "deletebtn"%>
	<% end %>
</div>