<div container = "container" id="user-info">
	<h1>User trip displayed here</h1>
	<div class = "user-collection">
		<ul class="collection with-header">
	        <li class="collection-header"><h4>Your Trips</h4></li>
	        <!-- Use an each loop to insert Trips into the List instead of this-->
	        <li class="collection-item">Trip 1</li>
	        <li class="collection-item">Trip 2</li>
	        <li class="collection-item">Trip 3</li>
	        <li class="collection-item">Trip 4</li>
	    </ul>
	</div>
</div>