/*about us page*/
.card-content {
	background-color: black;
	color: white;
}

.activator {
	background-color: black;
}

.waves-effect {
	background-color: black;
}

img.activator {
	margin-top: 12px;
	margin-left: 17px;
	margin-right: 10px;
	margin-bottom: 0px;
}

p#bioparagraph {
	margin-top: -10px;
	margin-bottom:10px;
}

#aboutpara {
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 800px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}