.card-content {
	background-color: black;
	color: white;
}

.activator {
	background-color: black;
}

.waves-effect {
	background-color: black;
}

img.activator {
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 10px;
	margin-bottom: 0px;

	}
div .gritter-item.gritter-css3{
	color: #C2060C;
	background-color: #4D4D4C;
}