.card-content {
	background-color: black;
	color: white;
}

.activator {
	background-color: black;
}

.waves-effect {
	background-color: black;
}

img.activator {
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 10px;
	margin-bottom: 0px;

	}