//styles for ALL layout


// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

html { 
  @include cover-background('http://www.incite-pictures.com/wp-content/uploads/2015/06/bg_road2.jpg');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Sanchez', serif;
}

main {
    flex: 1 0 auto;
}

nav ul a {
  color: black;
  font-family: 'Sanchez', serif;
}

#loginheader {
  color: black;
}

.modal {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  color: black;
  font-family: 'Sanchez', serif;
  // float: inherit;
}

nav .input-field input{
      margin-left: 30px;
}
.footer-copyright {
  margin-bottom: 20px;
  text-align: center;
}


footer {
  position: absolute;
  z-index: 99;
  width: 100%;
}

.nav-wrapper {
  position: absolute;
  z-index: 99;
  width: 100%;
}

#trip-form {
	text-align: center;
}
#materialize-lean-overlay-1 {
  display: hidden;
}

#pmodal {
  color: black;
}

.trip-places {
  p {
    margin-top: 1px;
    margin-bottom: 1px
  }
  a {
    color: #C7D7FF;
  }
}

div .gritter-item.gritter-css3{
  color: #C2060C;
  background-color: #4D4D4C;
}

.scroll-box {
  overflow: scroll
}





