//main landing

.rowlanding {

	color: white;
}

#planding {
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
}

#hlanding {
	margin-top: 50px;
	color: white;

}

input[type=text] {
	color: white;
}


#wrapper {
	position:relative;
// 	z-index: -100;
// 	// @media screen and (max-width: 770px){
// 	// 	height: 360px;
// 	// }
}

#materialize-lean-overlay-1 {
	display: hidden;
}

