<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link rel="styesheet" href="assets/stylesheets/styles">

</head>
<body>

  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn modal-trigger black" href="#modal1">Login</a></li>
            <div id="modal1" class="modal">
               <div class="modal-content">
               <h4>Login</h4>
                  <div class="row">
                     <form class="col s12">
                        <div class="row">
                           <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                           </div>
                        </div> 
                        <div class="row">
                           <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                           </div>
                        </div>         
                     </form>
                  </div>   
               </div>
               <div class="modal-footer">
               <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
               </div>
            </div>

        <li><a href="/">Logout</a></li>

        <li><a class="waves-effect waves-light btn modal-trigger black" href="#modal2">Sign Up</a></li>
            <div id="modal2" class="modal">
               <div class="modal-content">
               <h4>Sign Up</h4>
               <div class="row">
                  <form class="col s12">
                     <div class="row">
                        <div class="input-field col s6">
                           <input id="first_name" type="text" class="validate">
                           <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                           <input id="last_name" type="text" class="validate">
                           <label for="last_name">Last Name</label>
                        </div>
                     </div>
                  <div class="row">
                     <form class="col s12">
                        <div class="row">
                           <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                           </div>
                        </div> 
                        <div class="row">
                           <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                           </div>
                        </div>         
                     </form>
                  </div>   
               </div>
               <div class="modal-footer">
               <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
               </div>
            </div>
      </ul>
    </div>
  </nav>
<<<<<<< HEAD
=======
<main>
>>>>>>> taylorbolin-trip_edit
<%= yield %>


</main>
    <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text ">Footer Content</h5>
                
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <!-- <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
<script>
$(document).ready(function() {
   $('.modal-trigger').leanModal();
});
</script>


</body>
</html>
